<h1>Your Browser is no longer supported.</h1>
<p>Please upgrade your browser to one of following.<p>
<table width="650px" cellpadding="5">
	<tbody>
		<tr>
			<td align="center" valign="center" width="120px"><a href="https://www.google.com/chrome/?hl=en_GB"><img src="//ssl.gstatic.com/images/icons/product/chrome-128.png" width="128px" height="128px"></a></td>
			<td align="center" valign="center" width="120px"><a href="//www.microsoft.com/windows/internet-explorer/default.aspx"><img src="//ssl.gstatic.com/s2/profiles/images/ie.gif" width="120px" height="115px"></a></td>
			<td align="center" valign="center" width="120px"><a href="//www.mozilla.com/firefox/"><img src="//ssl.gstatic.com/s2/profiles/images/firefox.gif" width="120px" height="118px"></a></td>
			<td align="center" valign="center" width="120px"><a href="//www.apple.com/safari/download/"><img src="//ssl.gstatic.com/s2/profiles/images/safari.png" width="120px" height="120px"></a></td>
		</tr>
		<tr>
			<td align="center" valign="top"><a href="https://www.google.com/chrome/?hl=en_GB">Download Chrome now</a></td>
			<td align="center" valign="top"><a href="//www.microsoft.com/windows/internet-explorer/default.aspx">Download Internet Explorer (version 9+)</a></td>
			<td align="center" valign="top"><a href="//www.mozilla.com/firefox/">Download Firefox</a></td>
			<td align="center" valign="top"><a href="//www.apple.com/safari/download/">Download Safari</a></td>
		</tr>
	</tbody>
</table>
