<h1 class="page-header">
	<div class="row">
		<div class="col-md-4">
			Server configuration
		</div>
		<div class="col-md-8">
			<form name="options">
				<ws-buttons-radio class="btn-group" data-toggle="buttons" model="editType" options="['form','json']"/>
			</form>
		</div>
	</div>
</h1>
<h2 class="sub-header">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-primary btn-sm" title="Reset to current live configuration." ui-jq="tooltip" ng-click="reset()"><span class="glyphicon glyphicon-repeat"></span> Reset
			</button>
			<button type="button" class="btn btn-primary btn-sm" title="Use this configuration in server runtime." ui-jq="tooltip" ng-click="apply()"><span class="glyphicon glyphicon-ok"></span> Apply
			</button>
		</div>
	</div>
</h2>
<div class="row">
	<div class="col-md-12" ng-switch on="editType">
		<div ng-switch-when="form">
			<div ng-include="'partials/settings/edit-form.html'"></div>
		</div>
		<div ng-switch-when="json">
			<div ng-include="'partials/settings/edit-json.html'"></div>
		</div>
	</div>
</div>